// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.social-btn {
  margin-top: 20px;
  padding: 10px;
  border-radius: 15px;
  width: 150px;
  height: 50px;
  background: #6699FF;
  font-size: 20px;
  text-align: center;
}

a {
color: white;
}


